@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

/* .jodit-wysiwyg {
  height: 100% !important; 
  background-color: #1a1a1a !important; 
}

.jodit-toolbar__box {
  background-color: #252525 !important; 
  color: #dee1e2 !important; 
  border-color: #1a1a1a !important;
}

.jodit-status-bar {
  background-color: #252525 !important; 
  color: #dee1e2 !important;
} */

/* .jodit-toolbar-button {
  color: #dee1e2 !important; 
} */
